---

---

<footer class="bg-white">
	<div class="max-w-7xl mx-auto py-20 px-10 md:px-0">
		<div class="grid md:grid-cols-4 gap-10" data-aos="fade-up">
			<div>
				<img src="/logo.png" alt="CP.360°" class="w-24 h-24" />
				<p class="text-black my-5">
					La herramienta que transforma experiencia en control total.
				</p>
				<span class="text-white font-bold italic"
					>"En construcción, no basta con ejecutar... hay que CONTROLAR"</span
				>
			</div>
			<div>
				<h1 class="text-primary font-bold text-2xl">Contacto Directo</h1>
				<ul class="text-black space-y-2 mt-5">
					<li>📞 971 419 928</li>
					<li>✉️ abccostos.bravo@gmail.com</li>
					<li>📍 Lima, Perú</li>
					<li>⏰ Lun - Vie 8:00 - 18:00</li>
				</ul>
			</div>
			<div>
				<h1 class="text-primary font-bold text-2xl">Servicios Principales</h1>
				<ul class="text-black list-disc space-y-2 mt-5">
					<li>Control de Producción en tiempo Real</li>
					<li>Gestión Integral de Proyectos</li>
					<li>Dashboard Ejecutivos</li>
					<li>Implementación y Capacitación</li>
					<li>Soporte Técnico Especializado</li>
					<li>Consultoría en Control de Costos</li>
				</ul>
			</div>
			<div>
				<h1 class="text-primary font-bold text-2xl">Soporte y Garantía</h1>
				<ul class="list-disc text-black space-y-2 mt-5">
					<li>Implementación Guiada Completa</li>
					<li>Capacitación por Roles</li>
					<li>Soporte Técnico Continuo</li>
					<li>Consultoría Especializada</li>
					<li>Actualizaciones Incluidas</li>
					<li>Primer Proyecto Gratuito</li>
				</ul>
			</div>
		</div>
	</div>
	<hr class="border-t-2 border-white/20 my-4" />
	<div class="py-4 px-5 md:px-0">
		<p class="text-black text-center text-xs">
			© 2025 CP.360°. Todos los derechos reservados. | Desarrollado por <a
				href="https://grobles.netlify.app/"
				class="text-lime-400 font-semibold">Grobles Solutions.</a
			>
		</p>
	</div>
</footer>
